.cloud-animation {
  width: 100%;
  max-width: 100%;

  overflow: hidden;
}

.cloud-animation__image {
  position: absolute;
  z-index: -1;

  &--1 {
    top: 14.583vw;
    left: 6.042vw;

    width: 19.115vw;
    height: 17.708vw;

    animation: cloud-left-show 1s;
  }

  &--2 {
    top: 4.323vw;
    right: -7.292vw;

    width: 14.948vw;
    height: 13.854vw;

    animation: cloud-right-show 1s;
  }
}

@media (max-width: @tablet-width) {
  .cloud-animation__image {
    animation: none;
  }
}
