@font-black: #282828;
@font-pink: #ff6078;
@font-white: #ffffff;
@backgound-green: #27b24b;
@background-white: #ffffff;
@hover-color: rgba(040, 040, 040, 0.8);
@active-color: rgba(040, 040, 040, 1);
@mobile-width: 767px;
@tablet-width: 991px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
